:root {
  --theme-color: #333;
  --theme-color-lt-20: #666666;
  --theme-background: #fff;
  --theme-background-hover: #eee;
  --theme-switch-background: #ffffff;
  --theme-switch-border: #bbbbbb;
  --theme-switch-border-hover: #333;
  --theme-grey-color: #777;
  --theme-grey-color-dk-20: #444444;
  --theme-grey-color-lt-15: #9d9d9d;
  --theme-grey-color-lt-40: #dddddd;
  --theme-grey-color-lt-50: #f7f7f7;
  --theme-border-color: #eceff2;
  --theme-border-color-lt-25: #ffffff;
  --theme-link-color: #0000f9;
}
.dark {
  --theme-color: #fff;
  --theme-color-lt-20: #ffffff;
  --theme-background: #333;
  --theme-background-hover: #555;
  --theme-switch-border: #666666;
  --theme-switch-border-hover: #fff;
  --theme-switch-background: #888888;
  --theme-grey-color: #bbbbbb;
  --theme-grey-color-dk-20: #888888;
  --theme-grey-color-lt-15: #e1e1e1;
  --theme-grey-color-lt-40: #ffffff;
  --theme-grey-color-lt-50: #ffffff;
  --theme-border-color: #eceff2;
  --theme-border-color-lt-25: #ffffff;
  --theme-link-color: #8080fc;
}
.post-content pre {
  position: relative;
  overflow-x: auto;
  padding: 15px;
  font-size: 90%;
  line-height: 144%;
  background: #fcfcfc;
  color: #4d4d4c;
}
.post-content pre code {
  background: none;
  color: #4d4d4c;
}
.post-content .highlight {
  position: relative;
  overflow-x: auto;
  padding: 15px;
  font-size: 90%;
  line-height: 144%;
  background: #fcfcfc;
  border: 1px dashed var(--theme-border-color);
}
.post-content .highlight pre {
  margin: 0;
  padding: 0;
}
.post-content .highlight .line {
  height: 144%;
  line-height: 144%;
}
.post-content .highlight table {
  margin: 0;
  width: auto;
  border: none;
}
.post-content .highlight td {
  border: none;
}
.post-content .highlight tr,
.post-content .highlight td {
  border-collapse: collapse;
  padding: 0;
  margin: 0;
}
.post-content .highlight figcaption {
  color: #8e908c;
  line-height: 1em;
  margin-bottom: 1em;
}
.post-content .highlight figcaption a {
  float: right;
}
.post-content .highlight .gutter pre {
  color: var(--theme-color);
  text-align: right;
  padding-right: 20px;
}
.post-content .gist {
  background: #fcfcfc;
}
.post-content .gist tr,
.post-content .gist td {
  height: auto;
}
.post-content .gist .gist-file {
  border: none;
  font-family: Menlo, Monaco, 'Courier New', monospace;
}
.post-content .gist .gist-file .highlight {
  margin: 0;
  padding: 0;
  border: none;
}
.post-content .gist .gist-data {
  border: none;
}
.post-content .gist .gist-data .line-numbers {
  color: var(--theme-color);
  background: none;
  border: none;
  padding: 0 20px 0 0;
}
.post-content .gist .gist-data .line-data {
  padding: 0 !important;
}
.post-content .gist .gist-meta {
  background: #fcfcfc;
  color: #8e908c;
  font-family: Menlo, Monaco, 'Courier New', monospace;
}
.post-content .gist .gist-meta a {
  color: var(--theme-color);
  font-weight: normal;
}
.post-content .gist .gist-meta a:hover {
  text-decoration: underline;
}
pre .comment {
  color: #8e908c;
}
pre .tag {
  color: #8e908c;
}
pre .variable,
pre .title,
pre .type,
pre .regexp,
pre .ruby .constant,
pre .xml .tag .title,
pre .xml .pi,
pre .xml .doctype,
pre .html .doctype,
pre .selector-pseudo,
pre .css .id,
pre .css .class,
pre .css .pseudo,
pre .tag .name {
  color: #c82829;
}
pre .class,
pre .number,
pre .preprocessor,
pre .built_in,
pre .literal,
pre .params,
pre .constant {
  color: #f5871f;
}
pre .attribute,
pre .label,
pre .ruby .class .title,
pre .css .rules .attribute,
pre .tag .attr {
  color: #718c00;
}
pre .string,
pre .value,
pre .inheritance,
pre .header,
pre .ruby .symbol,
pre .xml .cdata {
  color: #4271ae;
}
pre .selector-tag,
pre .css .hexcolor,
pre .css .tag {
  color: #3e999f;
}
pre .function,
pre .python .decorator,
pre .python .title,
pre .ruby .function .title,
pre .ruby .title .keyword,
pre .perl .sub,
pre .javascript .title,
pre .coffeescript .title {
  color: #4271ae;
}
pre .selector-id,
pre .selector-class,
pre .keyword,
pre .javascript .function {
  color: #8959a8;
}
@media (max-width: 760px) {
  .post-content .highlight {
    margin-left: -16px;
    margin-right: -16px;
    padding: 20px 16px;
  }
}
