:root {
  --theme-color: #333;
  --theme-color-lt-20: #666666;
  --theme-background: #fff;
  --theme-background-hover: #eee;
  --theme-switch-background: #ffffff;
  --theme-switch-border: #bbbbbb;
  --theme-switch-border-hover: #333;
  --theme-grey-color: #777;
  --theme-grey-color-dk-20: #444444;
  --theme-grey-color-lt-15: #9d9d9d;
  --theme-grey-color-lt-40: #dddddd;
  --theme-grey-color-lt-50: #f7f7f7;
  --theme-border-color: #eceff2;
  --theme-border-color-lt-25: #ffffff;
  --theme-link-color: #0000f9;
}
.dark {
  --theme-color: #fff;
  --theme-color-lt-20: #ffffff;
  --theme-background: #333;
  --theme-background-hover: #555;
  --theme-switch-border: #666666;
  --theme-switch-border-hover: #fff;
  --theme-switch-background: #888888;
  --theme-grey-color: #bbbbbb;
  --theme-grey-color-dk-20: #888888;
  --theme-grey-color-lt-15: #e1e1e1;
  --theme-grey-color-lt-40: #ffffff;
  --theme-grey-color-lt-50: #ffffff;
  --theme-border-color: #eceff2;
  --theme-border-color-lt-25: #ffffff;
  --theme-link-color: #8080fc;
}
#archives-title {
  font-size: 1.5em;
  margin-top: 0;
}
.archive-title {
  margin: 0.2em 0;
  font-size: 120%;
}
.archive-title-link {
  text-decoration: none;
  color: var(--theme-color);
}
.archive .post-tags {
  font-size: 80%;
}
