#archives-title {
  font-size: 1.5em;
  margin-top: 0;
}
.archive-title {
  margin: 0.2em 0;
  font-size: 120%;
}
.archive-title-link {
  text-decoration: none;
  color: #333;
}
.archive .post-tags {
  font-size: 80%;
}
