:root {
  --theme-color: #333;
  --theme-color-lt-20: #666666;
  --theme-background: #fff;
  --theme-background-hover: #eee;
  --theme-switch-background: #ffffff;
  --theme-switch-border: #bbbbbb;
  --theme-switch-border-hover: #333;
  --theme-grey-color: #777;
  --theme-grey-color-dk-20: #444444;
  --theme-grey-color-lt-15: #9d9d9d;
  --theme-grey-color-lt-40: #dddddd;
  --theme-grey-color-lt-50: #f7f7f7;
  --theme-border-color: #eceff2;
  --theme-border-color-lt-25: #ffffff;
  --theme-link-color: #0000f9;
}
.dark {
  --theme-color: #fff;
  --theme-color-lt-20: #ffffff;
  --theme-background: #333;
  --theme-background-hover: #555;
  --theme-switch-border: #666666;
  --theme-switch-border-hover: #fff;
  --theme-switch-background: #888888;
  --theme-grey-color: #bbbbbb;
  --theme-grey-color-dk-20: #888888;
  --theme-grey-color-lt-15: #e1e1e1;
  --theme-grey-color-lt-40: #ffffff;
  --theme-grey-color-lt-50: #ffffff;
  --theme-border-color: #eceff2;
  --theme-border-color-lt-25: #ffffff;
  --theme-link-color: #8080fc;
}
#main .post:first-child .post-title:first-child {
  margin-top: 0;
}
#post-nav {
  box-sizing: content-box;
  position: relative;
}
@media (min-width: 1000px) {
  #post-nav-next {
    float: right;
    text-align: right;
  }
  #post-nav-prev {
    float: left;
    text-align: left;
  }
}
.post {
  margin-bottom: 40px;
}
.post-nav-link {
  text-decoration: none;
  color: var(--theme-grey-color);
  margin-top: 40px;
  margin-bottom: 40px;
  text-align: center;
  display: block;
  transition: all 200ms ease;
  -webkit-transition: all 200ms ease;
}
@media (min-width: 1000px) {
  .post-nav-link {
    width: 50%;
  }
}
.post-nav-link:hover {
  color: var(--theme-color);
}
.post-nav-caption {
  letter-spacing: 2px;
  line-height: 1em;
  font-weight: 600;
  color: var(--theme-grey-color-dk-20);
  text-transform: uppercase;
}
.post-title {
  font-size: 1.5em;
}
.post-title-link {
  text-decoration: none;
  color: var(--theme-color);
}
.post-title-link:hover {
  color: var(--theme-color-lt-20);
}
.post-meta {
  font-size: 90%;
}
.post-meta .post-category-link {
  color: var(--theme-link-color);
  text-decoration: none;
  border-bottom: 1px dashed var(--theme-color);
  padding: 0 0.1em;
}
.post-footer {
  font-size: 90%;
}
.post-tags {
  display: inline-block;
  padding: 0.5em 0;
}
.post-tags .tag-link {
  color: var(--theme-link-color);
  text-decoration: none;
  border-bottom: 1px dashed var(--theme-color);
  padding: 0 0.1em;
}
.post-tags .tag-link::before {
  content: "#";
}
.post-more-link {
  float: right;
  text-decoration: none;
  color: var(--theme-background);
  background-color: var(--theme-color);
  padding: 0.2em 1em;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: all 100ms ease;
  -webkit-transition: all 100ms ease;
  border: 1px dashed transparent;
}
.post-more-link:hover {
  color: var(--theme-color-lt-20);
  background-color: var(--theme-background-hover);
}
.post-more-link:active {
  color: var(--theme-color);
  background-color: transparent;
  border-color: var(--theme-color);
}
.post-content {
  color: var(--theme-color);
  line-height: 1.5;
}
.post-content p {
  text-align: justify;
}
.post-content p,
.post-content table {
  line-height: 1.5;
}
.post-content table {
  border-color: transparent;
}
.post-content table td + td {
  border-left: thin solid var(--theme-border-color);
}
.post-content table th + th {
  border-left: thin solid var(--theme-border-color);
}
.post-content h1,
.post-content h2,
.post-content h3,
.post-content h4,
.post-content h5,
.post-content h6 {
  font-weight: 600;
  line-height: 1.5;
}
.post-content figure {
  margin: 1em 0;
}
.post-content figcaption {
  text-align: center;
  font-weight: 600;
}
.post-content a.headerlink {
  border: none;
}
.post-content a.headerlink::before {
  content: "#";
  display: inline-block;
}
.post-content a#more {
  border: none;
  visibility: hidden;
  display: block;
}
.post-content a {
  color: var(--theme-link-color);
  border-bottom: thin dashed var(--theme-color);
  text-decoration: none;
  padding: 0 0.1em;
}
.post-content a.image-link {
  padding: 0;
}
.post-content #toc {
  position: relative;
  border-bottom: 1px solid var(--theme-border-color);
}
.post-content #toc a {
  border: none;
}
.post-content #toc .toc-toggle {
  cursor: pointer;
}
.post-content #toc .toc-caret {
  width: 0;
  height: 0;
  position: relative;
  top: -0.1em;
  display: inline-block;
  border-left: 0.29em solid transparent;
  border-right: 0.29em solid transparent;
  border-bottom: 0.5em solid var(--theme-color);
}
.post-content #toc .toc-caret.down {
  border-bottom: none;
  border-left: 0.29em solid transparent;
  border-right: 0.29em solid transparent;
  border-top: 0.5em solid var(--theme-color);
}
.post-content h2.toc-title {
  margin: 1em 0;
}
.post-content ol.toc,
.post-content ol.toc-child {
  padding: 0;
  list-style: none;
}
.post-content ol.toc-child {
  padding-left: 2em;
}
.post-content img,
.post-content video {
  border-radius: 4px;
  padding: 5px;
  box-sizing: border-box;
  max-width: 100%;
  height: auto;
  display: block;
  border: 1px solid var(--theme-border-color);
}
.post-content img {
  margin: 30px auto;
  cursor: pointer;
}
.post-content iframe {
  border: none;
}
.post-content table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid var(--theme-border-color);
}
.post-content th {
  font-weight: 600;
  border-bottom: 3px solid var(--theme-border-color);
  padding: 0.5em;
}
.post-content td {
  border-bottom: 1px solid var(--theme-border-color);
  padding: 10px;
}
.post-content tr:last-child td {
  border-bottom: none;
}
.post-content blockquote {
  margin: 1.5em 0;
  box-sizing: border-box;
  font-size: 1.1em;
  background: var(--theme-background-hover);
  font-family: "Georgia", serif;
  color: var(--theme-color);
  border-left: 5px solid var(--theme-border-color);
  padding: 1em 1em 1em 1.5em;
}
.post-content blockquote p:first-child {
  margin-top: 0;
}
.post-content blockquote p:last-child {
  margin-bottom: 0;
}
.post-content blockquote footer {
  font-size: 100%;
}
.post-content blockquote footer cite:before {
  content: "—";
  padding: 0 0.5em;
}
.post-content .pullquote {
  text-align: left;
  width: 45%;
  margin: 0;
}
.post-content .pullquote.left {
  margin-left: 0.5em;
  margin-right: 1em;
}
.post-content .pullquote.right {
  margin-right: 0.5em;
  margin-left: 1em;
}
.post-content .caption {
  color: var(--theme-grey-color);
  display: block;
  font-size: 0.9em;
  margin-top: 0.5em;
  position: relative;
  text-align: center;
}
.post-content .video-container {
  position: relative;
  padding-top: 9 / 16 * 100%;
  height: 0;
  overflow: hidden;
}
.post-content .video-container iframe,
.post-content .video-container object,
.post-content .video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin-top: 0;
}
.post-content .highlight {
  margin: 1.6em 0;
}
.post-content .highlight .line {
  height: 1.6em;
}
.post-content code {
  margin: 0;
  font-family: Menlo, Monaco, 'Courier New', monospace;
  color: #c82829;
  background-color: #fcfcfc;
  padding: 0.2em 0.4em;
  border-radius: 3px;
  font-size: 80%;
}
