#header {
  text-align: center;
  position: relative;
  padding: 1em 1em 0;
}
#header .logo {
  text-decoration: none;
  color: #fff;
  background-color: #333;
  padding: 0.2em 1em;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#header .subtitle {
  color: #9d9d9d;
  font-size: 100%;
  transition: color 200ms ease;
  -webkit-transition: color 200ms ease;
}
#header .subtitle:hover {
  color: #333;
}
#navbar {
  text-align: center;
  padding: 0.5em 0;
}
#navbar > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  z-index: 1;
  height: auto;
  display: block;
}
#navbar > ul > li {
  display: inline-block;
  position: relative;
}
#navbar .nav-link {
  display: block;
  color: #777;
  padding: 5px 20px;
  text-decoration: none;
  line-height: 1.5em;
  white-space: nowrap;
  background-color: #fff;
  border: thin dashed transparent;
  font-weight: 600;
  transition: all 200ms ease;
  -webkit-transition: all 200ms ease;
}
#navbar .nav-link:hover,
#navbar .nav-link:active {
  color: #373737;
  background-color: #eee;
}
#navbar .nav-link:active {
  border: thin dashed #333;
  background-color: #fff;
}
