:root {
  --theme-color: #333;
  --theme-color-lt-20: #666666;
  --theme-background: #fff;
  --theme-background-hover: #eee;
  --theme-switch-background: #ffffff;
  --theme-switch-border: #bbbbbb;
  --theme-switch-border-hover: #333;
  --theme-grey-color: #777;
  --theme-grey-color-dk-20: #444444;
  --theme-grey-color-lt-15: #9d9d9d;
  --theme-grey-color-lt-40: #dddddd;
  --theme-grey-color-lt-50: #f7f7f7;
  --theme-border-color: #eceff2;
  --theme-border-color-lt-25: #ffffff;
  --theme-link-color: #0000f9;
}
.dark {
  --theme-color: #fff;
  --theme-color-lt-20: #ffffff;
  --theme-background: #333;
  --theme-background-hover: #555;
  --theme-switch-border: #666666;
  --theme-switch-border-hover: #fff;
  --theme-switch-background: #888888;
  --theme-grey-color: #bbbbbb;
  --theme-grey-color-dk-20: #888888;
  --theme-grey-color-lt-15: #e1e1e1;
  --theme-grey-color-lt-40: #ffffff;
  --theme-grey-color-lt-50: #ffffff;
  --theme-border-color: #eceff2;
  --theme-border-color-lt-25: #ffffff;
  --theme-link-color: #8080fc;
}
#page-nav {
  list-style: none;
  padding: 0;
  font-size: 80%;
  margin: 2em 0;
}
#page-nav a,
#page-nav span {
  display: inline-block;
  margin-right: 5px;
  background-color: var(--theme-grey-color-lt-40);
  padding: 0.5em 0.8em;
  border-radius: 2px;
  zoom: 1;
  line-height: normal;
  white-space: nowrap;
  vertical-align: baseline;
  text-align: center;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#page-nav a {
  cursor: pointer;
  color: var(--theme-color);
  text-decoration: none;
  transition: all 100ms ease;
  -webkit-transition: all 100ms ease;
  border: 1px dashed transparent;
}
#page-nav a:hover {
  color: var(--theme-color-lt-20);
  background-color: var(--theme-background-hover);
}
#page-nav a:active {
  color: var(--theme-color);
  background-color: transparent;
  border-color: var(--theme-color);
}
#page-nav .current {
  background-color: var(--theme-grey-color-lt-50);
  cursor: not-allowed;
}
