.widget-title {
  margin-top: 0;
  margin-bottom: 0.5em;
  font-size: 1.5em;
}
.widget-list {
  padding: 0 0 0 1.5em;
}
.widget-list li {
  line-height: 1.5;
  margin: 0.4em 0;
}
.widget-list .widget-item-link {
  font-size: 110%;
  color: #0000f9;
  border-bottom: thin dashed #333;
  text-decoration: none;
  padding: 0 0.1em;
}
